[COMMON]
#number of worker threads
num_worker_threads = 3
#server listen port.both tcp and udp
server_port = 6737
#server max connections
max_connections = 1024

[DETAIL]
max_user_rbuf = 5120
user_wbuf = 2048
socket_wbuf = 16384

